
  <table>
  <tr>
    <th>First Name</th>
    <td>{{formValue.fname}}</td>
  </tr>
  <tr>
    <th>Last Name</th>
    <td>{{formValue.lname}}</td>
  </tr>
  <tr>
    <th>Gender</th>
    <td>{{formValue.gender}}</td>
  </tr>
  <tr>
    <th>Contact No</th>
    <td>{{formValue.contactNo}}</td>
  </tr>
  <tr>
    <th>Password</th>
    <td><input type="{{type}}" disabled value="{{formValue.password}}"/><i (click)="showHidePassword()" class="far fa-eye"></i></td>  
  </tr>
  <tr>
    <th>Confirm Password</th>
    <td><input type="{{type}}" disabled value="{{formValue.confirmPassword}}"/><i class="far fa-eye"></i></td>  
  </tr>
  <tr>
    <th>Employee ID</th>
    <td>{{formValue.empId}}</td>
  </tr>
  <tr>
    
</table>
<button (click)="editForm()">Edit Form</button>